/* header area responsive start */
/* mobile devices */
@media screen and (max-width: 576px) {
    .container{
        width: 90%;
    }
    nav,
    .teams_container{
        flex-direction: column;
    }
    .banner_title{
        font-size: 2rem;
    }
    .teams_img{
        grid-template-columns: 1fr;
    }
    .teams_content{
    	padding: 0 20px; 
		text-align: center;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .container{
        width: 90%;
    }
    nav{
        flex-direction: column;
    }
    .teams_container{
        flex-direction: column-reverse;
        text-align: center;
    }
}
/* header area responsive end */