/* header area responsive start */
/* mobile devices */
@media screen and (max-width: 576px) {
    .container{
        width: 90%;
    }
    nav,
    .teams_container,
    .features,
	.facts_card_container,
	.sponsors_img_container{
        flex-direction: column;
    }
    .banner_title{
        font-size: 2rem;
    }
    .teams_img{
        grid-template-columns: 1fr;
    }
    .feature_img img{
        width: 100%;
        margin-left: 0;
    }
    .ten_years_badge{
        position: static;
        max-width: 300px;
        margin: auto;
    }
    .teams_content,
	.facts{
    	padding: 0 20px; 
		text-align: center;
    }
	.facts_card_container {
		gap: 15px;
	}
}

/* tablet or medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .container{
        width: 90%;
    }
    nav,
    .features,
	.teams_container,
	.sponsors_img_container{
        flex-direction: column;
    }
    .teams_container{
        flex-direction: column-reverse;
        text-align: center;
    }
}
/* header area responsive end */