/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px 0;
    }
    nav, 
    .features,
    .facts_box_wrapper,
    .sponsors_logo_wrapper{
        flex-direction: column;
    }
    nav h3{
        font-size: 1.8rem;
    }
    nav ul li {
        margin: 0 0 0 10px;
    }
    nav ul li a {
        font-size: 1rem;
        line-height: 0;
    }
    nav ul li:hover a{
        padding: 10px 12px;
    }
    .banner .banner_content {
        margin: 50px auto 30px ;
    }
    .banner .banner_content h1{
        font-size: 2rem;
        line-height: 43px;
    }
    .banner .banner_content * {
        margin: 0 0 10px 0;
    }
    .team_main_container {
        flex-direction: column;
        gap: 35px;
    }
    .team_img_wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .features{
        gap: 20px;
    }
    .features_img .experience{
        position: static;
        max-width: 300px;
        margin: auto;
    }
    .features_txt, 
    .features_img {
        width: 100%;
    }
    .facts_box_wrapper {
        align-items: center;
        margin: 40px 0 0 0;
    }
    .sponsors_logo_wrapper {
        align-items: center;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .team_main_container {
        flex-direction: column;
        gap: 50px;
    }
    .team_img_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .team_txt {
        width: 100%;
        text-align: center;
    }
    .team_txt * {
        margin: 0 0 15px 0;
    }
    .features {
        flex-direction: column;
        gap: 20px;
    }
    .features_txt, 
    .features_img {
        width: 100%;
    }
    .features_img .experience{
        right: 0;
        margin: auto ;
    }
    .feature_txt_box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sponsors_logo_wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1100px) {
    .team_main_container{
        gap: 35px;
    }
    .team_img_wrapper {
        gap: 15px;
    }
    .team_img_wrapper .team_img {
        width: 200px;
    }
    .team_img_wrapper .team_img img{
        width: 100%;
    }
}