/* variable style */
:root{
    --white: #fff;
    --black: #131313;
    --dark-gray: #424242;
    --gray: #727272;
    --orange: #FF900E;;
} 
/* Reset default styles */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* Style the body element */
body{
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
}

/* shared or common style */
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.primary_btn{
    padding: 20px 25px;
    background: var(--orange);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    outline: 0;
    border-radius: 8px;
    cursor: pointer;
}
.description{
    color: var(--gray);
    margin: 25px 0;
    line-height: 25px;
}
.title{
    font-size: 2.8rem;
    font-weight: 5000;
    color: var(--black);
}
.gray{
    color: var(--gray);
}
.dark_gray{
    color: var(--dark-gray);
}
section{
    margin-bottom: 100px;
}
/* header style start */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 0;
}

/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    margin-right: 25px;
    font-size: 1rem;
    font-weight: 500;
}
nav li:last-child{
    margin-right: 0;
}
nav ul li a{
    text-decoration: none;
    color: var(--dark-gray);
}

/* banner style */
.banner_content{
    max-width: 800px;
    text-align: center;
    margin: 100px auto 50px;
}
.banner_title{
    font-size: 4rem;
    font-weight: 700;
    color: var(--black);
}
.banner img{
    width: 100%;
}
/* header style end */

/* main area style start */
main{
    max-width: 1440px;
    margin: 70px auto;
}

/* teams style start*/
.teams_container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.teams_img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.teams_content{
    padding: 0 70px;
}
.teams_title{
    font-size: 3rem;
}
.teams_title .quick_list{
    font-weight: 500;
}
.teams_title .text_features{
    color: var(--orange);
    font-weight: 700;
}
/* teams style end*/

/* features section style start */
.features{
    display: flex;
    gap: 100px;
    padding: 10px;
}
.feature_content .title{
    border-left: 5px solid var(--orange);
    padding-left: 20px;
}
.feature_content .card{
    padding: 30px;
    margin: 0 0 20px;
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature_img img{
    height: 88%;
    /* width: 100%; */
    margin-left: 70px;
}
.ten_years_badge{
    border-radius: 8px;
    background: #FF900E;
    padding: 40px;
    color: var(--white);
    width: 340px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten_years_badge h2{
    font-size: 4rem;
}
.ten_years_badge p{
    font-size: 1.5rem;
}
/* features section style end */

/* facts style star */
.facts{
    padding: 0 10px;
}
.facts_card_container{
    display: flex;
    justify-content: space-around;
}
.facts_card_container .card{
    border-radius: 8px;
    border: 1px solid var(--orange);
    text-align: center;
    padding: 40px 30px;
}
.facts_card_container .card_stats{
    font-size: 2.8rem;
    font-weight: 600;
}
.facts_card_container .card_title{
    font-size: 1.25rem;
    font-weight: 600;
}
/* facts style end */

/* sponsors style start */
.sponsors{
    text-align: center;
}
.sponsors_img_container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 40px;
    align-items: center;   
}
.sponsors_img_container img{
    width: 165px;
}
/* sponsors style end */
/* main area style end */

/* footer style start */
footer{
    max-width: 1440px;
    padding: 20px 0;
    margin: 0 auto 0;
    text-align: center;
    background: rgba(255, 144, 14, 0.10)
}
/* footer style end */