/* variable style */
:root {
  --white: #fff;
  --black: #131313;
  --dark-gray: #424242;
  --gray: #727272;
  --orange: #ff900e;
  --bg-color: #FF900E1A;
}
/* Reset default styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* Style the body element */
body {
  font-family: "Work Sans", sans-serif;
}
/* shared or common style */
.container{
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}
button{
  background: var(--orange);
  padding: 15px 18px;
  border: 0;
  outline: 0;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}
.description{
  color: var(--gray);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
}
h3{
  color: var(--black);
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
}
section{
  margin: 0 0 100px 0;
}
/* header and nav style start here */
header{
  background: var(--bg-color);
  padding: 50px 0;
}
/* nav style start here */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex; 
}
nav ul li {
  margin: 0 0 0 35px;
}
nav ul li a {
  color: var(--dark-gray);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  transition: all 1s;
}
nav ul li:hover a{
  background: var(--gray);
  padding: 12px 15px;
  border-radius: 10px;
  color: var(--white);
}
/* banner style start here */
.banner .banner_content {
  max-width: 645px;
  margin: 100px auto 50px ;
  text-align: center;
}
.banner .banner_content h1{
  color: var(--black);
  font-size: 3rem;
  font-weight: 700;
  line-height: 53px;
}
.banner .banner_content * {
  margin: 0 0 30px 0;
}
.banner .banner_img img {
  width: 100%;
}
#team{
  margin-top: 85px;
}
.team_main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}
.team_img_wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 25px;
}
.team_img_wrapper .team_img img{
  width: 100%;
}
.team_txt {
  max-width: 375px;
}
.team_txt * {
  margin: 0 0 25px 0;
}
.team_txt .team_light_font {
  font-weight: 500;
  color: var(--gray);
}
.team_txt .team_orange {
  color: var(--orange);
}
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.features .feature_heading {
  padding: 0 0 0 10px;
  border-left: 3px solid var(--orange);
  margin: 0 0 24px 0;
}
.features_txt {
  width: 50%;
}
.features_txt .feature_txt_box {
  margin: 30px 0 0 0;
}
.features_txt .feature_txt_box .box {
  max-width: 410px;
  padding: 20px;
  box-shadow: 0px 3px 6px gray;
  border-radius: 10px;
  margin: 0 0 20px 0;
}
.features_txt .feature_txt_box .box h4{
  margin: 0 0 10px 0;
}
.features_img {
  width: 50%;
  position: relative;
}
.features_img img{
  width: 100%;
}
.features_img .experience{
  max-width: 240px;
  background: var(--orange);
  border-radius: 10px;
  padding: 25px 28px;
  color: var(--white);
  text-align: center;
  position: relative;
  bottom: 80px;
  right: 70px;
}
.features_img .experience h4{
  font-size: 2.8rem;
  font-weight: 700;
}
.features_img .experience h5 {
  font-size: 1.2rem;
  font-weight: 500;
}
/* facts section style start here */
.facts_container .facts_txt {
  max-width: 542px;
}
.facts_box_wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin: 80px 0 0 0;
}
.facts_box_wrapper .facts_box {
  width: 240px;
  border: 1px solid var(--orange);
  border-radius: 10px;
  padding: 25px 20px 30px;
  text-align: center;
}
.facts_box_wrapper .facts_box h3 {
  color: var(--dark-gray);
}
.facts_box_wrapper .facts_box h4{
  color: var(--gray);
}
/* sponsors style start here */
.sponsors .sponsors_txt {
  text-align: center;
  max-width: 542px;
  margin: 0 auto;
}
.sponsors_logo_wrapper {
  display: flex; 
  justify-content: space-between;
  gap: 20px;
  margin: 50px 0 0 0;
}
.sponsors_logo_wrapper .sponsors_logo img{
  filter: grayscale(100%);
  transition: all .5s;
}
.sponsors_logo_wrapper .sponsors_logo img:hover{
  filter: grayscale(0%);
  cursor: pointer;
}
/* footer style start here */
footer {
  background: var(--bg-color);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}